<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="#" th:action="@{/exchangeRon/{id} (id = ${user.id})}"
		th:method="put">
		<input type="hidden" name="_method" value="put"> Ron : <input
			type="text" name="ron"> <br> <input type="submit"
			value="Exchange">
	</form>
	<a type="button" class="btn btn-success"
							href="/home">Go back</a>
</body>
</html>