
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store - Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ededed;">
	
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Description</th>
					<th>Value in RON</th>
					<th>Amount</th> 
					<th></th> 
				<!-- 	<th>Available</th>  -->
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
					<tr th:each="message : ${coin}">
						<td th:text="${message.desc}"></td>
						<td th:text="${message.value}"></td>
						<td th:text="${message.amount}"></td>
						
						
					</tr>
				
				
				
			</tbody>
		</table>
		
		<a type="button" class="btn btn-success"
							href="/home">Go back</a>

		
	</div>
</body>
</html>