
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store - Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ededed;">

	<div class="container">
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>RON</th> 
					<th>EURO</th> 
					<th>USD</th> 
					<th><a href="/login">Logout</a></th>
				<!-- 	<th>Available</th>  -->
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
					<tr th:each="message : ${auth_user}">
						<td th:text="${message.getName()}"></td>
						<td th:text="${message.getEmail()}"></td>
						<td th:text="${message.getRon()}"></td>
						<td th:text="${message.getEur()}"></td>
						<td th:text="${message.getUsd()}"></td>
					</tr>
				
				
				
			</tbody>
		</table>
							
		<a type="button" class="btn btn-success"
							href="/coins">Coins</a>
		<a type="button" class="btn btn-success" href="/exchangeRon">Exchange</a>
		
	</div>
</body>
</html>