
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store - Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ededed;">

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Description</th>
					<th>Target Date</th>
					<th>Is it Done?</th> 
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
					<tr th:each="message : ${books}">
						<td th:text="${message.author}">Title</td>
						<td><a type="button" class="btn btn-success"
							href="/update-todo?id=${book.id}">Update</a></td>
						<td><a type="button" class="btn btn-warning"
							href="/delete-todo?id=${book.id}">Delete</a></td>
					</tr>
				
				
				
			</tbody>
		</table>
		
		
		

		<a type="button" class="btn btn-warning"
							href="/home">Go Back</a>

		
	</div>
</body>
</html>